$color-light-blue: #c4e5ec;
$color-blue: #79bbcb;
$color-dark-blue: #4a7482;

$color-red: #f7767a;
$color-dark-red: #f14549;

$color-white: #ffffff;

$color-background: $color-light-blue;
$color-text: $color-dark-blue;

$color-button-background-blue: $color-dark-blue;
$color-button-background-red: $color-dark-red;
$color-button-text: $color-white;
