.info-block
  h1.info-block__title COVID-19 Simulator
  button.button#toggleButton Start quarantine
  button.button.button--red#resetButton Reset

  p.counter-block
    span#counter 1 / 100
    |  infected

canvas#world
